# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# Environment files that may include secrets
/src/environments

# Visual Studio Code
.vscode

# Miscellaneous
/.angular
