<nav
  class="navbar navbar-expand-lg px-3"
  [ngClass]="{
    'navbar-dark bg-dark': isDarkTheme,
    'navbar-light bg-light': !isDarkTheme
  }"
>
  <a class="navbar-brand fw-bold me-auto" href="#">SkyCast</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item mx-2">
        <button
          class="btn btn-outline-secondary"
          (click)="toggleTheme()"
          [attr.aria-label]="
            isDarkTheme ? 'Switch to Light Theme' : 'Switch to Dark Theme'
          "
        >
          <i class="fas" [ngClass]="isDarkTheme ? 'fa-sun' : 'fa-moon'"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>
