@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #212529;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f8f9fa;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Open Sans", sans-serif;
}

.card,
.navbar,
.footer,
.alert,
input,
button {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}
